
.title-text {
    text-align: center;
}

.name-text {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
}

.one-liner-text {
    font-size: 1.5em;
    font-family: 'Quicksand', monospace;
}

.para-text {
    width: 50%;
    margin-left: 25%;
    text-align: justify;
}