

@media only screen and (min-width: 800px) {
    .title-text {
        text-align: center;
    }
    
    .name-text {
        font-size: 2em;
        font-weight: bold;
        font-family: 'Share Tech Mono', monospace;
    }
    
    .one-liner-text {
        font-size: 1.5em;
        font-family: 'Quicksand', monospace;
    }
    
    .para-text {
        width: 50%;
        margin-left: 25%;
        text-align: justify;
    }

    #rot-text {
        display: inline;
    }

    .rot-text {
        display: inline;
    }

    .rot-text {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
    }
}



@media only screen and (min-width: 320px) and (max-width:799px) {

    .title-text {
        text-align: center;
    }
    
    .name-text {
        font-size: 2em;
        font-weight: bold;
        font-family: 'Share Tech Mono', monospace;
    }
    
    .one-liner-text {
        font-size: 1.5em;
        font-family: 'Quicksand', monospace;
    }
    
    .para-text {
        width: 90%;
        margin-left: 5%;
        text-align: justify;
    }

}

