{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css" />
{% endblock %}

{% block content %}
<p class="title-text">
    <span class="name-text">
        <span class="typewrite" data-period="2000" 
            data-type='[ "Hi!", "Hola!", "Bonjour!", "नमस्ते!" ]'></span> I'm Akash,</span>
    <br/>
    <span class="one-liner-text">Software Engineer @Twitter</span>
    <br/><br/>
    <p  style="text-align: center;">
        <a href="https://github.com/akashcodes">Github</a>
        &nbsp;|
        <a href="https://linkedin.com/in/mishraakash">LinkedIn</a>
        &nbsp;|
        <a href="https://twitter.com/psy8org">Twitter</a>
        &nbsp;|
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Dellor Kcir</a>
    </p>
    <br/><br/>
    <p class="para-text para-1-text">

            Welcome, drifter! Prior to Twitter, I was a graduate student at Indian Institute of Technology Madras. I submitted my thesis work related to Distrubuted Shortest Path Computations, and Contraction Hierarchies.
            I also worked as a Teaching Assistant during my time at IIT Madras. My interests are programming languages, algorithms, parallel computing and p2p tech.
            <br/><br/>
            I also interned at Samsung India back in July 2020, where I worked on varous unsupervised NLP models. I love playing videogames, reading comics and watching animes.
            <br/><br/>
            If you want to interact with me, talk about stuff or sth, drop me an email at: <b>akashm1219 [at] gmail [dot] com</b>
            <br/><br/>
    </p>
</p>

<script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
{% endblock %}