{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css" />
{% endblock %}

{% block content %}
<p class="title-text">
    <span class="name-text">Akash Mishra</span>
    <br/>
    <span class="one-liner-text">Grad student at IIT Madras</span>
    <br/><br/>
    <p  style="text-align: center;">
        <a href="https://github.com/akashcodes">Github</a>
        &nbsp;|
        <a href="https://linkedin.com/in/mishraakash">LinkedIn</a>
        &nbsp;|
        <a href="https://twitter.com/akascchan">Twitter</a>
    </p>
    <br/><br/>
    <p class="para-text para-1-text">
            Hi! I am a Computer Science grad student at IIT Madras. Currently I'm taking the following courses - 
            <p>
                <p>
                    <a href="https://www.cse.iitm.ac.in/course_details.php?arg=MTM0"><b>CS5691</b> - Pattern Recognition and Machine Learning</a>
                </p>

                <li>
                    <a href="https://www.cse.iitm.ac.in/course_details.php?arg=MTM0"><b>CS5800</b> - Advanced Data Structures and Algorithms</a>
                </li>

                <li>
                    <a href="https://www.cse.iitm.ac.in/course_details.php?arg=MTM0"><b>CS6015</b> - Linear Algebra and Random Processes</a>
                </li>

                <li>
                    <a href="https://www.cse.iitm.ac.in/course_details.php?arg=MTM0"><b>CS6140</b> - Advanced Programming Lab</a>
                </li>

                <li>
                    <a href="https://www.cse.iitm.ac.in/course_details.php?arg=MTM0"><b>CS6380</b> - Artificial Intelligence</a>
                </li>
            </ul>
            <br/><br/>
            I'm also a Teaching Assistant for <a href="https://www.cse.iitm.ac.in/course_details.php?arg=MTM0"><b>CS3300</b> - Compiler Design</a>
            <br/><br/>
            In my spare time , I love to watch animes and play Rocket League [let's play a game sometime ;)].
            <br/><br/>
            You can reach me at: <b>akashdotcodes [at] gmail [dot] com</b>
            <br/><br/>
            <b>Checkout my CV <a href="#">here</a></b>.
            <br/><br/>
    </p>
</p>
{% endblock %}