{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css" />
{% endblock %}

{% block content %}
<p class="title-text">
    <span class="name-text">Akash Mishra</span>
    <br/>
    <span class="one-liner-text">Grad student at IIT Madras</span>
    <br/><br/>
    <p  style="text-align: center;">
        <a href="https://github.com/akashcodes">Github</a>
        &nbsp;|
        <a href="https://linkedin.com/in/mishraakash">LinkedIn</a>
        &nbsp;|
        <a href="https://twitter.com/akascchan">Twitter</a>
    </p>
    <br/><br/>
    <p class="para-text para-1-text">
            Hi, नमस्ते, Ciao, Hola! I am a Computer Science grad student at IIT Madras.

            I've taken courses done so far -
            <br/></br>
            Data Mining

            <br/></br>
            Pattern Recognition and Machine Learning

            <br/></br>
            Advanced Data Structures and Algorithms

            <br/></br>
            Linear Algebra and Random Processes

            <br/></br>
            Advanced Programming Lab
               
            <br/></br>
            Artificial Intelligence

            <br/></br>
            Cloud Computing

            <br/></br>
            Digital Testing and Testable Designs
            
            <br/><br/><br/>

            I am/have been a TA for the following courses so far - 
            <br/><br/>
            CS3300 - Compiler Design
            <br/><br/>
            
            CS6013 - Modern Compilers
            <br/><br/>

            I love to watch animes and play video games, when I'm not working.
            <br/><br/>
            You can reach me at: <b>akashdotcodes [at] gmail [dot] com</b>
            <br/><br/>
            <b>Checkout my CV (not updated) <a href="{{ SITEURL }}/theme/resume.pdf">here</a></b>.
            <br/><br/>
    </p>
</p>
{% endblock %}